<div class="row">
  <div class="col-md-12">
    <h3> Favored by Critics </h3>
    <div id="criticSkew" style="width: 100%; height: 400px;"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3> Favored by Viewers </h3>
    <div id="viewerSkew" style="width: 100%; height: 400px;"></div>
  </div>
</div>
